
<div class="container">
    <div class="row">
        <div class="row text-center">
            <h1  class="display-2">About Me</h1>
        </div>
        <div class="col text-center">
            <img src="img/3x4.jpg" alt="Buhori" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Buhori</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, aliquid.</p>
        </div>
    </div>
</div>
